<a href="https://colab.research.google.com/github/satyajit619/5thSemISE/blob/master/Python_interview_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

In [2]:
for row in df.itertuples(index=True):
  print(row.index,row.Name,row.Age)

<built-in method index of Pandas object at 0x7fef97e66f20> Alice 25
<built-in method index of Pandas object at 0x7fef97e66e80> Bob 30
<built-in method index of Pandas object at 0x7fef97e66f20> Charlie 35

In [3]:
for index,row in df.iterrows():
    print(index,row.Name,row.Age)

0 Alice 25
1 Bob 30
2 Charlie 35

**Key Differences
Performance: itertuples() is generally faster and more efficient than iterrows().
Output Type: iterrows() provides each row as a pandas Series, while itertuples() provides each row as a namedtuple.**

In [4]:
data1 = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data1)

In [5]:
#loc is label based indexing
row = df.loc[0:2,["Name","City"]]
print(row)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

In [6]:
# select rows by condition
filtered_df = df.loc[df["Age"]>25]
print(filtered_df)

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [7]:
#iloc is integer-location based indexing
row = df.iloc[1]
print(row)
row2 = df.iloc[1:3]
print(row2)

Name            Bob
Age              30
City    Los Angeles
Name: 1, dtype: object
      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [8]:
#select specific rows and column by integer index
df2 = df.iloc[0:2,[0,1,2]]
# print(df2)
df3 = df.iloc[-1]
print(df3)

Name    Charlie
Age          35
City    Chicago
Name: 2, dtype: object

In [9]:
#setting case condition to create statement using np.where
df["Status"] = np.where(df["Age"]>25,"adult","not_adult")
print(df)

      Name  Age         City     Status
0    Alice   25     New York  not_adult
1      Bob   30  Los Angeles      adult
2  Charlie   35      Chicago      adult

In [10]:
#setting case condition to use apply,lambda function

df["status1"] = df["Age"].apply(lambda x : "adult" if x>25 else "not_adult")
print(df)

      Name  Age         City     Status    status1
0    Alice   25     New York  not_adult  not_adult
1      Bob   30  Los Angeles      adult      adult
2  Charlie   35      Chicago      adult      adult

**map applies a function to all items in an iterable and returns a new iterable with the transformed items.**

In [11]:
numbers = [1, 2, 3, 4]
numlist = list(map(lambda x: x*x,numbers))
print(numlist)

#Map must have two arguement

fruits = ['apple', 'banana', 'cherry']
fruit_upper = list(map(lambda x: x.upper,fruits))
print(fruit_upper)

[1, 4, 9, 16]
[<built-in method upper of str object at 0x7fef97ca50b0>, <built-in method upper of str object at 0x7fef97ca53b0>, <built-in method upper of str object at 0x7fef97ca4370>]

**filter applies a function that returns a Boolean value to each item and only keeps the items that return True.**

In [12]:
words = ['apple', 'banana', 'cherry', 'date', 'fig']

wordlist = list(filter(lambda x : "a" in x, words))
print(wordlist)

#Filter take two arguement

numbers = [-10, -5, 0, 5, 10]
positive_numbers = list(filter(lambda x: x>0, numbers))
print(positive_numbers)

['apple', 'banana', 'date']
[5, 10]


* **Encapsulation: Restricts direct access to an object’s data and methods.**

In [16]:
class Person:
    def __init__(self, name:str,age:int):
      self.name = name
      self.__age = age #Private attribute with double underscore

    def get_age(self):
      return self.__age

    def set_age(self,age):
      if age>0:
        self.__age = age
      else:
        print("Age must be > 0 ")

person = Person("Pepe",31)

print(person.name)
print(person.get_age())
person.set_age(35)
print(person.get_age())

#We cannot directly call the print(person.__age) as it is a private variable and it is restricted

Pepe
31
35



*  **Inheritance allows a child class to inherit all the method and attribute from its parent or base class**

In [17]:
#Base Class
  def __init__(self,name):
    self.name = name

  def speak(self):
    return print(f"{self.name} Makes a sound")

#child Class
class Dog(Animal):
  def speak(self):
    return print(f"{self.name} Barks")

dog = Dog("Buggy")
print(dog.speak())

Buggy Barks
None



1.   **Polymorphism allows methods or functions to use objects of different classes interchangeably. It means "many forms" and can be achieved through method overloading, method overriding**

In [21]:
class Animal:
  def speak(self):
      pass

class Dog(Animal):
    def speak(self):
      return print("Dog Barks")

class Cat(Animal):
    def speak(self):
      return print("Cat Barks")

#Polymorphism in action
def make_animal_sound(animal):
  animal.speak()

dog = Dog()
cat = Cat()

make_animal_sound(dog)
make_animal_sound(cat)

Dog Barks
Cat Barks



*  **Abstraction hides the complex implementation details and shows only the essential features of an object**

In [22]:
from abc import ABC,abstractmethod

class Vehicle(ABC):
  @abstractmethod
  def start_engine(self):
    pass

  @abstractmethod
  def stop_engine(self):
    pass


class Car(Vehicle):
  def start_engine(self):
    print("car engine started")


  def stop_engine(self):
    print("car engine stopped")


car = Car()
car.start_engine()
car.stop_engine()

car engine started
car engine stopped